awscli
botocore
certifi
cffi
charset-normalizer
colorama
cryptography
docutils
idna
jmespath
pyasn1
pycparser
python-dateutil
python-dotenv
PyYAML
requests
rsa
s3transfer
semantic-version
setuptools-rust
six
tomli
urllib3
